{% extends "admin/layouts/template.html" %}
{% block title %}Users{% endblock %}
{% block navUsers %}active{% endblock %}
{% block heading %}Users{%endblock%}
{% block breadcrumb %}Users{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Semua Pengguna</h3>
        <div class="card-tools">
          <a href="/admin/user/create" class="btn btn-primary">Tambah Pengguna</a>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th style="width: 20%;">Nama</th>
              <th style="width: 10%;">Username</th>
              <th style="width: 15%;">Email</th>
              <th style="width: 10%;">Alamat</th>
              <th style="width: 10%;">IsAdmin</th>
              <th style="width: 15%;"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.shipping_address.address if user.shipping_address.address else "pengguna belum menambahkan
                alamat"}}
              </td>
              <td><span class="badge {{ 'badge-primary' if user.isAdmin else 'badge-secondary'}}">{{'Admin' if
                  user.isAdmin else 'Pengguna biasa'}}</span></td>
              <td class="project-actions text-center">
                <a class="btn btn-primary btn-sm" href="#">
                  <i class="fas fa-folder">
                  </i>
                  View
                </a>
                <a class="btn btn-info btn-sm" href="#">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Edit
                </a>
                <a class="btn btn-danger btn-sm" href="#">
                  <i class="fas fa-trash">
                  </i>
                  Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

{% endblock %}