<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chicken Yasaka Admin | {% block title %}{%endblock%}</title>

  <!--================= Favicon =================-->
  <link rel="apple-touch-icon" href="{{url_for('static', filename='assets/images/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{url_for('static', filename='assets/images/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{url_for('static', filename='assets/images/favicon-16x16.png')}}">
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='assets/images/favico.ico')}}">
  <link rel="manifest" href="{{url_for('static', filename='assets/images/site.webmanifest')}}">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- summernote -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/summernote/summernote-bs4.min.css') }}">

  {% block style %}{%endblock%}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{{url_for('static', filename='assets/images/YASAKA.jpg')}}" alt="AdminLTELogo"
        height="60" width="60">
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/" class="nav-link">Go to Web Page</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">
            Logout &nbsp;<i class="fas fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/" class="brand-link">
        <img src="{{ url_for('static', filename='admin/dist/img/YASAKA - LOGO.png') }}" alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Chicken Yasaka</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{{ url_for('static', filename=admin.get('profile_pic', 'admin/dist/img/avatar5.png'))}}"
              class="img-circle elevation-2" alt="User Image" style="width: 35px; height: 35px; object-fit: cover;">
          </div>
          <div class="info">
            <a href="#" class="d-block">{{admin.get('name')}}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a href="/admin" class="nav-link {% block navDashboard %} {% endblock %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/menu" class="nav-link {% block navMenu %} {% endblock %}">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Menu
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/orders" class="nav-link {% block navOrders %} {% endblock %}">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Orders
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/users" class="nav-link {% block navUsers %} {% endblock %}">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Users
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{% block heading %} {%endblock%}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">{% block breadcrumb %} {% endblock %}</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              <div id="alert-container" style="
                position: fixed;
                top: 50px;
                right: 10px;
                z-index: 1050;
                width: 30%;
                ">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5>
                    {% if category == "success" %}
                    <i class="icon fas fa-check"></i>
                    Success!
                    {% elif category == "error" or category == "danger" %}
                    <i class="icon fas fa-times"></i>
                    Error!
                    {% elif category == "warning" %}
                    <i class="icon fas fa-exclamation-triangle"></i>
                    Warning!
                    {% elif category == "info" %}
                    <i class="icon fas fa-info"></i>
                    Info!
                    {% endif %}
                  </h5>
                  {{ message | safe }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
              {% endwith %}
            </div>
          </div>

          {% block content %}{% endblock %}
        </div>


      </section>

    </div>


    <footer class="main-footer">
      <strong>Copyright &copy; 2024 <a href="https://www.instagram.com/yasaka.id/?hl=en" target="_blank">Chicken
          Yasaka</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        Created with <b>❤️</b> n <b>🍵</b>
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->

    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='admin/plugins/jquery/jquery.min.js') }}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{{ url_for('static', filename='admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="{{ url_for('static', filename='admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- ChartJS -->
  <script src="{{ url_for('static', filename='admin/plugins/chart.js/Chart.min.js') }}"></script>
  <!-- Sparkline -->
  <script src="{{ url_for('static', filename='admin/plugins/sparklines/sparkline.js') }}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{{ url_for('static', filename='admin/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script
    src="{{ url_for('static', filename='admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
  <!-- Summernote -->
  <script src="{{ url_for('static', filename='admin/plugins/summernote/summernote-bs4.min.js') }}"></script>
  <!-- overlayScrollbars -->
  <script
    src="{{ url_for('static', filename='admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
  <!-- AdminLTE App -->
  <script src="{{ url_for('static', filename='admin/dist/js/adminlte.js') }}"></script>

  <script src="{{ url_for('static', filename='admin/dist/js/fetch.js') }}"></script>

  <script
    src="{{ url_for('static', filename='admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>

  {% block script %} {%endblock%}
</body>

</html>