{% extends "layouts/template.html" %}
{% block title %}Account{% endblock %}

{% block breadcrumb %}
<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Akun</h1>
            <ul>
                <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Akun</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="order-popup">

</div>

<div class="rts-account-section section-gap">
    <div class="container">

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="account-inner">
            <div class="account-side-navigation">
                <button class="filter-btn active" data-show=".dashboard"><i class="fal fa-chart-bar"></i>
                    Dashboard</button>
                <button class="filter-btn" data-show=".orders"><i class="fal fa-shopping-cart"></i> Pesanan</button>
                <button class="filter-btn" data-show=".address"><i class="fal fa-map-marker-alt"></i>
                    Alamat</button>
                <button class="filter-btn" data-show=".accountdtls"><i class="fal fa-user"></i> Detail Akun </button>
                <a href="{{ url_for('wishlist.home') }}" class="filter-btn" data-show=".dashboard"><i
                        class="fal fa-shopping-basket"></i>
                    List Keinginan</a>
                <a href="{{ url_for('auth.logout') }}" class="filter-btn" data-show=".dashboard"><i
                        class="fal fa-long-arrow-left"></i>
                    Keluar Akun</a>
            </div>
            <div class="account-main-area">
                <div class="account-main dashboard filterd-items">
                    <div class="account-profile-area">
                        <!-- Area Foto Profil -->
                        <div class="profile-dp">
                            <!-- Menampilkan foto profil pengguna atau gambar default -->
                            <img 
                                src="{{ user_data.get('profile_pic', url_for('static', filename='assets/images/blog/img-3.jpg')) }}" 
                                alt="profile-dp" 
                                style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
                        </div>
                    
                        <!-- Informasi Pengguna -->
                        <div class="d-block">
                            <span class="profile-name"><span>Hi,</span> {{ user_data['username'] }} </span>
                            <span class="profile-date d-block">{{ now }}</span>
                        </div>
                    
                        <!-- Form Unggah Foto Profil -->
                        <form action="{{ url_for('user.upload_profile_pic') }}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="profile_pic">Upload Foto Profil:</label>
                                <input 
                                    type="file" 
                                    name="profile_pic" 
                                    id="profile_pic" 
                                    accept="image/png, image/jpeg, image/jpg" 
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Unggah</button>
                        </form>
                    </div>
                    <p>Dari halaman akun Anda, Anda dapat melihat pesanan terkini, mengelola alamat pengiriman dan
                        penagihan, serta mengedit kata sandi dan detail akun Anda.</p>

                    <div class="activity-box">
                        <div class="activity-item">
                            <div class="icon"><i class="fas fa-box-check"></i></div>
                            <span class="title">Pesanan</span>
                            <span class="value">{{total_orders}}</span>
                        </div>
                        <div class="activity-item">
                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                            <span class="title">Alamat</span>
                            <span class="value">{{ shipping_address['address'] }}</span>
                        </div>
                        <div class="activity-item">
                            <div class="icon"><i class="fas fa-heart"></i></div>
                            <span class="title">List Keinginan</span>
                            <span class="value">{{total_wishlist}}</span>
                        </div>

                        {% if user_data.isAdmin %}
                        <a href="/admin" class="activity-item">
                            <div class="icon"><i class="fas fa-sign-out-alt"></i></div>
                            <span class="title">Pergi ke dashboard admin</span>
                        </a>
                        {% else %}
                        <a href="{{ url_for('auth.logout') }}" class="activity-item">
                            <div class="icon"><i class="fas fa-sign-out-alt"></i></div>
                            <span class="title">Keluar Akun</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="account-main orders filterd-items hide">
                    <div class="row">
                        <h2 class="mb--30">Pesanan Saya</h2>
                        <table class="table" id="orders-page">
                            <thead>
                                <tr class="top-tr">
                                    <th>ID Pesanan</th>
                                    <th>Tanggal</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Cek Pesanan</th>
                                </tr>
                            </thead>
                            <tbody id="orders-data">

                            </tbody>
                        </table>
                        <hr style="width: 600px; color: white;" />
                    </div>
                </div>
                <div class="account-main address filterd-items hide">
                    <div class="row">
                        <div class="col-xl-5 col-md-5">
                            <div class="billing-address">
                                <h2 class="mb--30">Alamat Penagihan</h2>
                                <address>
                                    Taman Cikande<br>
                                    Kab.Tangerang<br>
                                    <br>
                                </address>
                                <p class="mb--10">Jabodetabek</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-5">
                            <div class="shipping-address">
                                <h2 class="mb--30">Alamat Pengiriman</h2>
                                {% if shipping_address %}
                                <address>
                                    Nama : {{ shipping_address['name'] }}<br>
                                    Alamat Jalan: {{ shipping_address['address'] }}<br>
                                    Nomor HP: {{ shipping_address['phone'] }}
                                </address>
                                <button class="btn btn-danger btn-sm mb-3 mt-3" onclick="toggleEditForm()">Edit
                                    Alamat</button>

                                {% else %}
                                <p class="mb--30">Tidak ditemukan alamat pengiriman. Harap tambahkan alamat.</p>
                                <button class="btn btn-danger btn-sm mb-3 mt-3" onclick="toggleEditForm()">Tambahkan
                                    Alamat</button>
                                {% endif %}

                                <!-- Form untuk edit/tambah alamat -->
                                <form id="edit-address-form" class="hide" method="POST" action="/account/edit_address">
                                    <div class="form mb-2">
                                        <label class="form-label" for="name">Nama:</label>
                                        <input class="form-control" type="text" name="name" id="name"
                                            value="{{ shipping_address['name'] if shipping_address else '' }}"
                                            placeholder="Masukkan nama lengkap Anda" required>
                                    </div>
                                    <div class="form mb-2">
                                        <label class="form-label" for="address">Alamat Jalan:</label>
                                        <input class="form-control" type="text" name="address" id="address"
                                            value="{{ shipping_address['address'] if shipping_address else '' }}"
                                            placeholder="Masukkan alamat jalan Anda" required>
                                    </div>
                                    <div class="form mb-2">
                                        <label class="form-label" for="phone">Nomor HP:</label>
                                        <input class="form-control" type="text" name="phone" id="phone"
                                            value="{{ shipping_address['phone'] if shipping_address else '' }}"
                                            placeholder="Masukkan nomor HP Anda" required>
                                    </div>
                                    <div class="form mb-2">
                                        <label class="form-label" for="place_type">Tempat Tinggal:</label>
                                        <input class="form-control" type="text" name="place_type" id="place_type"
                                            value="{{ shipping_address['place_type'] if shipping_address else '' }}"
                                            placeholder="Rumah, Hotel, Apartemen, Kantor, dll.">
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-sm">Simpan Alamat</button>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        onclick="toggleEditForm()">Batalkan</button>
                                </form>
                                <script>
                                    // Script untuk toggle form edit/tambah alamat
                                    function toggleEditForm() {
                                        const form = $('#edit-address-form');
                                        form.slideToggle();
                                    }
                                </script>
                                <style>
                                    .hide {
                                        display: none;
                                    }

                                    .show {
                                        display: block;
                                    }
                                    
                                </style>

                            </div>
                        </div>
                        <hr style="width: 600px; color: white;" />
                    </div>
                </div>
                <div class="account-main accountdtls filterd-items hide">
                    <div class="row">
                        <div class="section-title">
                            <h2>Detail Akun</h2>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <form id="registerForm" method="POST" action="/account">
                                    <div class="form">
                                        <label for="name" class="form-label">Nama Lengkap</label>
                                        <input id="name" type="text" class="form-control" name="name"
                                            placeholder="Enter your new fullname" value="{{user_data['name']}}"
                                            required>
                                        <span id="nameError" class="error"></span>
                                    </div>
                                    <div class="form">
                                        <label for="email" class="form-label">Email</label>
                                        <input id="email" type="email" class="form-control" name="email"
                                            placeholder="Enter your current password" value="{{user_data['email']}}"
                                            required>
                                        <span id="emailError" class="error"></span>
                                    </div>
                                    <div class="form">
                                        <label for="currPassword" class="form-label">Kata Sandi Saat Ini</label>
                                        <input id="currPassword" type="password" class="form-control"
                                            name="old_password" placeholder="Masukkan Kata Sandi Saat Ini" required>
                                    </div>
                                    <div class="form">
                                        <label for="password" class="form-label">Kata Sandi Baru</label>
                                        <input id="password" type="password" class="form-control" name="new_password"
                                            placeholder="Masukkan Kata Sandi Baru Anda" required>
                                        <span id="passwordError" class="error"></span>
                                    </div>
                                    <div class="form mt--10">
                                        <button type="submit" class="btn btn-danger">Perbarui Akun</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr style="width: 600px; color: white;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}