{% extends "layouts/template.html" %}
{% block meta %}
<meta property="og:title" content="Chicken Yasaka | Cart" />
<meta property="og:description"
  content="Cart Page | Selamat datang di Chicken Yasaka, tempat di mana kelezatan ayam goreng bertemu dengan rasa yang luar biasa! Kami menyajikan ayam goreng renyah di luar, juicy di dalam, dengan bumbu spesial yang menggoda selera. Di Chicken Yasaka, kami hanya menggunakan bahan berkualitas dan selalu siap memberikan pengalaman makan terbaik, baik dine-in, take-away, atau delivery. Nikmati kelezatan ayam terbaik, hanya di Chicken Yasaka!" />
<meta property="og:image" content="{{url_for('static', filename='assets/images/YASAKA.jpg')}}" />
<meta name="robots" content="noindex,nofollow">
<meta property="og:url" content="{{ request.url }}" />
{% endblock %}
{% block title %}Cart{% endblock %}
{% block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Keranjang</h1>
      <ul>
        <li>
          <a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a>
        </li>
        <li><a class="current-page" href="#">Keranjang</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="rts-cart-section">
  <div class="container">
    <h4 class="section-title">List Produk</h4>
    <div class="row justify-content-between">
      <div class="col-xl-7">
        <div class="cart-table-area">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark"></thead>
            <tbody id="cart-data-page"></tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="checkout-box">
          <div class="checkout-box-inner">
            <div class="action-item">
              <div class="action-top mb-2" style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-weight: bold;
                ">
                <span class="action-title">Produk</span>
                <span class="subtotal">Subtotal</span>
              </div>
              <div id="item-checkout"></div>

              <div class="total-area mt-3">
                <span class="title">Total</span>
                <span class="total-price" id="total-price">Rp. 0</span>
              </div>
            </div>
          </div>
          <a href="/order" id="order-btn" class="procced-btn">Pesan Sekarang</a>
          <a href="{{ url_for('menu.home') }}" class="continue-shopping"><i class="fal fa-long-arrow-left"></i>
            Lanjutkan Berbelanja</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rts-account-section"></div>
{% endblock %}