{% extends "layouts/template.html" %} {% block title %}Cart{% endblock %} {%
block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Cart</h1>
      <ul>
        <li>
          <a class="home-page-link" href="/"
            >Home <i class="fal fa-angle-right"></i
          ></a>
        </li>
        <li><a class="current-page" href="#">Cart</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="rts-cart-section">
  <div class="container">
    <h4 class="section-title">Product List</h4>
    <div class="row justify-content-between">
      <div class="col-xl-7">
        <div class="cart-table-area">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark"></thead>
            <tbody id="cart-data-page"></tbody>
          </table>
          <!-- <div class="coupon-apply">
            <span class="coupon-text">Coupon Code:</span>
            <div class="apply-input">
              <input type="text" placeholder="Apply coupon here">
              <button type="submit" class="apply-btn">Apply </i></button>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-xl-4">
        <div class="checkout-box">
          <div class="checkout-box-inner">
            <div class="action-item">
              <div
                class="action-top mb-2"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-weight: bold;
                "
              >
                <span class="action-title">Produk</span>
                <span class="subtotal">Subtotal</span>
              </div>
              <div class="category-item mb-2">
                <div
                  class="category-item-inner"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <div class="category-title-area">
                    <span class="pretitle">Preschool Flex Runner × 1</span>
                  </div>
                  <div class="price" style="text-align: right">Rp. 69.00</div>
                </div>
              </div>

              <div class="total-area mt-3">
                <span class="title">Total</span>
                <span class="total-price" id="total-price">Rp. 0</span>
              </div>
            </div>
          </div>
          <a href="/order" class="procced-btn">Procced To Checkout</a>
          <a href="{{ url_for('menu.home') }}" class="continue-shopping"
            ><i class="fal fa-long-arrow-left"></i> Continue Shopping</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
