{% extends "layouts/template.html" %} {% block title %}Checkout{% endblock %} {%
block content %}
<div class="rts-checkout-section">
  <div class="container">
    <div class="row justify-content-between mb-20">
      <div class="col-xl-12">
        <!-- Container Pembayaran -->
        <div class="card-container" style="
            border: 1px solid #ddd;
            padding: 35px;
            border-radius: 8px;
            margin-bottom: 30px;
          ">
          <div class="checkout-box-inner">
            <p style="font-weight: bold; font-size: 16px; margin-bottom: 15px">
              Pilih Pembayaran
            </p>

            <!-- Metode Pembayaran -->
            <form id="payment-method-form">
              <div class="form-group" style="margin-bottom: 15px">
                <input type="radio" id="takeToOutlet" name="paymentMethod" value="Bayar dan Ambil Di Outlet" />
                <label class="check-title" for="takeToOutlet">Bayar dan Ambil Di Outlet Terdekat</label>
              </div>
              <div class="form-group">
                <input type="radio" id="cod" name="paymentMethod" value="COD" />
                <label class="check-title" for="cod">COD (Cash on Delivery)</label>
              </div>
            </form>
          </div>
        </div>

        <!-- Container Alamat (Hanya tampil jika memilih COD) -->
        <div id="addressContainer" class="address-container" style="display: none">
          <form id="addressForm" class="checkout-form">
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <div class="input-div">
                  <input type="text" id="name" name="name" placeholder="Nama"
                    value="{{ shipping_address.name if shipping_address else '' }}" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-md-6">
                <div class="input-div">
                  <input type="text" id="address" name="address" placeholder="Alamat Jalan"
                    value="{{ shipping_address.address if shipping_address else '' }}" />
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="input-div">
                  <input type="text" id="placeType" name="place_type"
                    placeholder="Apartemen, Hotel, Rumah, Kantor (opsional)"
                    value="{{ shipping_address.place_type if shipping_address else '' }}" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-md-6">
                <div class="input-div">
                  <input type="text" id="phone" name="phone" placeholder="Nomor HP"
                    value="{{ shipping_address.phone if shipping_address else '' }}" />
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="input-div">
                  <input type="email" id="email" name="email" placeholder="Alamat Email" value="{{ email}}" />
                </div>
              </div>
            </div>
            <textarea id="orderNotes" name="order_notes" cols="80" rows="4"
              placeholder="Catatan Pesanan (optional)"></textarea>
          </form>
        </div>

        <!-- Container untuk Menampilkan Jumlah dan Total -->
        <div class="card-container">
          <div class="checkout-box-inner">
            <div class="action-item">
              <div class="action-top mb-2" style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-weight: bold;
                ">
                <span class="action-title">Produk</span>
                <span class="subtotal">Subtotal</span>
              </div>
              <div id="item-checkout"></div>
              <div class="total-area mt-3">
                <span class="title">Total</span>
                <span class="total-price" id="total-price">Rp. 0</span>
              </div>
            </div>
          </div>
          <button onclick='checkout()' class="place-order-btn">Bayar Pesanan</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}