{% extends "layouts/template.html" %} {% block title %}Checkout{% endblock %} {%
block content %}
<div class="rts-checkout-section">
  <div class="container">
    <div class="row justify-content-between mb-20">
      <div class="col-xl-8">
        <form class="checkout-form mb-5">
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="input-div">
                <input type="text" placeholder="Nama" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="input-div">
                <input type="text" placeholder="Alamat Jalan" />
              </div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="input-div">
                <input
                  type="text"
                  placeholder="Apartemen, Hotel, Rumah, Kantor 
                                    (opsional)"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="input-div">
                <input type="text" placeholder="Nomor HP" />
              </div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="input-div">
                <input type="email" placeholder="Alamat Email" />
              </div>
            </div>
          </div>

          <textarea
            id="orderNotes"
            cols="80"
            rows="4"
            placeholder="Order notes (optional)"
          ></textarea>
        </form>
      </div>
      <div class="col-xl-4">
        {% comment %} harga {% endcomment %}
        <div class="action-item">
          <div class="action-top">
            <span class="action-title">Produk</span>
            <span class="subtotal">Subtotal</span>
          </div>
          <div class="category-item">
            <div class="category-item-inner">
              <div class="category-title-area">
                <span class="category-title">Preschool Flex Runner × 1</span>
              </div>
              <div class="price">Rp. 69.00</div>
            </div>
          </div>
          <div class="category-item">
            <div class="category-item-inner">
              <div class="category-title-area">
                <span class="category-title">Hiking Boots × 1 </span>
              </div>
              <div class="price">Rp. 220.00</div>
            </div>
          </div>
          <div class="category-item">
            <div class="category-item-inner">
              <div class="category-title-area">
                <span class="category-title">Tiktok Tshirt × 1</span>
              </div>
              <div class="price">Rp. 5.00</div>
            </div>
          </div>

          <div class="action-bottom">
            <span class="total">Total</span>
            <span class="total-price">Rp. 364.00</span>
          </div>
        </div>
        {% comment %} harga end {% endcomment %}
        <div class="action-item m-0">
          <div class="payment-options checkout-options">
            <form>
              <div class="form-group">
                <input type="checkbox" id="drbank" />
                <label class="check-title" for="drbank"
                  >Bayar dan Ambil Di Outlet Terdekat</label
                >
              </div>
              <div class="form-group">
                <input type="checkbox" id="freetrans" />
                <label class="check-title" for="freetrans"
                  >COD(Cash on Delivery)</label
                >
              </div>
            </form>
          </div>
        </div>
        <a href="" class="place-order-btn">Pembayaran</a>
        <a href="/order/thankyou" class="place-order-btn">Place Order</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
