{% extends "layouts/template.html" %}
{% block title %}Home{%endblock%}
{% block navhome %}active1{% endblock%}
{% block home %}
<div class="banner banner-1 bg-image">
  <div class="container">
    <div class="banner-inner">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-sm-12 gutter-1">
          <div class="catagory-sidebar">
            <div class="widget-bg">
              <h2 class="widget-title">Semua Ktegori <i class="rt-angle-down"></i></h2>
              <nav>
                <ul>
                  {% for category in categories %}
                  <li><a href="{{ url_for('menu.home') }}">{{ category }} <i class="rt rt-arrow-right-long"></i></a>
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-md-8 col-sm-12 gutter-2">
          <div class="swiper bannerSlide2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="banner-single bg-image bg-image-3-1">
                  <div class="container">
                    <div class="single-inner">
                      <div class="content-box">
                        <p class="slider-subtitle"><img src="assets/images/banner/wvbo-icon.png" alt="">Koleksi Menu
                          Favorit untuk Makan yang Tidak Pernah Mengecewakan.</p>
                        <h2 class="slider-title"> HOT COLLECTION <br> UNTUK SEMUA ORANG</h2>
                        <div class="slider-description">
                          <p>Pembayaran mudah & aman dengan QRIS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="banner-single bg-image bg-image-3-3">
                  <div class="container">
                    <div class="single-inner">
                      <div class="content-box">
                        <p class="slider-subtitle"><img src="assets/images/banner/wvbo-icon.png" alt=""> Beragam Pilihan
                          Menu Spesial, Setiap Suapan Penuh Kenikmatan! </p>
                        <h2 class="slider-title"> JUICY <br> UNTUK SEMUA ORANG</h2>
                        <div class="slider-description">
                          <p>Pembayaran mudah & aman dengan QRIS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="banner-single bg-image bg-image-3-4">
                  <div class="container">
                    <div class="single-inner">
                      <div class="content-box">
                        <p class="slider-subtitle"><img src="assets/images/banner/wvbo-icon.png" alt=""> Jangan Lewatkan
                          Koleksi Menu Eksklusif Kami, Penuhi Selera Anda! </p>
                        <h2 class="slider-title"> SPICY <br> UNTUK SEMUA ORANG</h2>
                        <div class="slider-description">
                          <p>Pembayaran mudah & aman dengan QRIS</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-navigation">
              <div class="swiper-button-prev slider-btn prev"><i class="rt rt-arrow-left-long"></i></div>
              <div class="swiper-button-next slider-btn next"><i class="rt rt-arrow-right-long"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rts-account-section"></div>
{%endblock%}
{% block content %}
{% endblock %}