{% extends "layouts/template.html" %}
{% block title %}Menu{% endblock %}
{% block navmenu %}active1{% endblock %}
{% block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Menu</h1>
      <ul>
        <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
        <li><a class="current-page" href="#">Menu</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-xl-12">
      <div class="shop-product-topbar">
        <span class="items-onlist">Menampilkan 1-12 dari 50 hasil</span>
        <div class="filter-area">
          <p class="select-area">
            <select class="select">
              <option value="default" selected disabled>Sort</option>
              <option value=".newest">Menu Terbaru</option>
              <option value=".price_asc">Urutkan berdasarkan harga: rendah ke tinggi</option>
              <option value=".price_desc">Urutkan berdasarkan harga: tinggi ke rendah</option>
            </select>
          </p>
        </div>
      </div>
      <div class="products-area products-area3">
        <div class="row justify-content-center">
          {% for menu in menus %}
          <div class="col-xl-3 col-md-4 col-sm-6">
            <div class="product-item product-item2 element-item3">
              <a href="/menu/{{menu._id}}" class="product-image">
                <img src="{{ url_for('static', filename=menu.image) }}" alt="product-image">
              </a>
              <div class="bottom-content">
                <a href="/menu/{{menu._id}}" class="product-name">{{ menu.name }}</a>
                <div class="action-wrap">
                  <span class="product-price">Rp. {{ menu.price | format_rupiah }}</span>
                  <button onclick="addToCart('{{menu._id}}')" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                    Tambah ke
                    Keranjang</button>
                </div>
              </div>
              <div class="product-actions">
                <a href="/wishlist" class="product-action"><i class="fal fa-heart"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="product-pagination-area mt--20">
        <button class="prev"><i class="far fa-long-arrow-left"></i></button>
        <button class="number active">01</button>
        <button class="number">02</button>
        <button class="skip-number">---</button>
        <button class="number">07</button>
        <button class="number">08</button>
        <button class="next"><i class="far fa-long-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}