{% extends "layouts/template.html" %}
{% block meta %}
<meta property="og:title" content="Chicken Yasaka | Menu" />
<meta property="og:description"
  content="All Menu | Selamat datang di Chicken Yasaka, tempat di mana kelezatan ayam goreng bertemu dengan rasa yang luar biasa! Kami menyajikan ayam goreng renyah di luar, juicy di dalam, dengan bumbu spesial yang menggoda selera. Di Chicken Yasaka, kami hanya menggunakan bahan berkualitas dan selalu siap memberikan pengalaman makan terbaik, baik dine-in, take-away, atau delivery. Nikmati kelezatan ayam terbaik, hanya di Chicken Yasaka!" />
<meta property="og:image" content="{{url_for('static', filename='assets/images/YASAKA.jpg')}}" />
<meta name="robots" content="index,follow">
<meta property="og:url" content="{{ request.url }}" />
{% endblock %}
{% block title %}Menu{% endblock %}
{% block navmenu %}active1{% endblock %}
{% block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Menu</h1>
      <ul>
        <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
        <li><a class="current-page" href="#">Menu</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-xl-12">
      <div class="shop-product-topbar">
        <span class="items-onlist">
          {% if current_sort=='default' %}
          Menampilkan semua menu
          {% elif current_sort=='price_asc' %}
          Menampilkan semua menu berdasarkan harga terendah
          {% elif current_sort=='price_desc' %}
          Menampilkan semua menu berdasarkan harga tertinggi
          {% else %}
          ???
          {% endif %}
        </span>
        <div class="filter-area">
          <p class="select-area">
            <select class="select" onchange="window.location.href='?sort=' + this.value;">
              <option value="default" {% if current_sort=='default' %}selected{% endif %}>Sort</option>
              <option value="price_asc" {% if current_sort=='price_asc' %}selected{% endif %}>Urutkan berdasarkan harga:
                rendah ke tinggi</option>
              <option value="price_desc" {% if current_sort=='price_desc' %}selected{% endif %}>Urutkan berdasarkan
                harga: tinggi ke rendah</option>
            </select>
          </p>
        </div>
      </div>
      <div class="products-area products-area3">
        <div class="row justify-content-center">
          {% if menus %}
          {% for menu in menus %}
          <div class="col-xl-3 col-md-4 col-sm-6">
            <div class="product-item product-item2 element-item3">
              <a href="/menu/{{menu._id}}" class="product-image">
                <img src="{{ url_for('static', filename=menu.image) }}"
                  style="width: 300px; height: 300px; object-fit: cover;" alt="menu-{{menu.name}}-image" loading="lazy">
              </a>
              <div class="bottom-content">
                <a href="/menu/{{menu._id}}" class="product-name">{{ menu.name }}</a>
                <div class="action-wrap">
                  <span class="product-price">Rp. {{ menu.price | format_rupiah }}</span>
                  <button onclick="addToCart('{{menu._id}}')" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                    Tambah ke
                    Keranjang</button>
                </div>
              </div>
              <div class="product-actions">
                <button onclick="addWishlistData('{{menu._id}}')" class="product-action"><i
                    class="fal fa-heart"></i></button>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p>Menu belum ditambahkan</p>
          {% endif %}
        </div>
      </div>
      <div class="product-pagination-area mt--20">
        <button class="prev"><i class="far fa-long-arrow-left"></i></button>
        <button class="number active">01</button>
        <button class="number">02</button>
        <button class="skip-number">---</button>
        <button class="number">07</button>
        <button class="number">08</button>
        <button class="next"><i class="far fa-long-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}