{% extends "layouts/template.html" %} {% block title %}Register{%endblock%} {%
block navlogin %}active1{% endblock%} {% block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Daftar</h1>
      <ul>
        <li>
          <a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a>
        </li>
        <li><a class="current-page" href="#">Daftar</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<!--Register-area start-->
<div class="login-area">
  <div class="container">

    <div class="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 ml-10">
        <div class="register-form">
          <div class="section-title text-center">
            <h2>Pendaftaran</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <form id="registerForm" action="{{ url_for('auth.register') }}" method="post">
                <div class="form">
                  <input type="text" class="form-control" id="name" placeholder="Nama Lengkap" name="name" required />
                  <span id="nameError" class="error"></span>
                </div>
                <div class="form">
                  <input type="text" class="form-control" id="username" placeholder="Nama Pengguna" name="username"
                    required />
                  <span id="usernameError" class="error"></span>
                </div>
                <div class="form">
                  <input type="email" class="form-control" id="email" placeholder="Alamat Email" name="email"
                    required />
                  <span id="emailError" class="error"></span>
                </div>
                <div class="form">
                  <div class="password-input">
                    <input type="password" class="form-control" id="password" placeholder="Kata Sandi" name="password"
                      required />
                    <span class="show-password-input"></span>
                  </div>
                  <span id="passwordError" class="error"></span>
                </div>
                <div class="form text-center">
                  <button type="submit" class="btn">Daftar</button>
                </div>
                <p class="text-center">
                 Sudah Punya Akun?
                  <a class="fw-normal" href="{{ url_for('auth.login') }}">Login</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Register-area end-->
{% endblock %}