{% extends "layouts/template.html" %} {% block title %}Register{%endblock%} {%
block navlogin %}active1{% endblock%} {% block breadcrumb %}
<div class="page-path">
  <div class="container">
    <div class="breadcrumbs-inner">
      <h1 class="path-title">Register</h1>
      <ul>
        <li>
          <a class="home-page-link" href="index.html">Home <i class="fal fa-angle-right"></i></a>
        </li>
        <li><a class="current-page" href="#">Register</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<!--Register-area start-->
<div class="login-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 ml-10">
        <div class="register-form">
          <div class="section-title text-center">
            <h2>Registration</h2>
          </div>
          <div class="card">
            <div class="card-body">
              <form action="/register" method="post">
                <div class="form">
                  <input type="text" class="form-control" id="name" placeholder="Name*" name="name" required />
                </div>
                <div class="form">
                  <input type="text" class="form-control" id="username" placeholder="Username*" name="username"
                    required />
                </div>
                <div class="form">
                  <input type="email" class="form-control" id="email" placeholder="Email address*" name="email"
                    required />
                </div>
                <div class="form">
                  <div class="password-input">
                    <input type="password" class="form-control" id="password" placeholder="Password*" name="password"
                      required />
                    <span class="show-password-input"></span>
                  </div>
                </div>
                <div class="form text-center">
                  <button type="submit" class="btn">Register</button>
                </div>
                <p class="text-center">
                  Sudah punya akun?
                  <a class="fw-normal" href="/login">Login</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Register-area end-->
{% endblock %}