{% extends "layouts/template.html" %}
{% block meta %}
<meta property="og:title" content="Chicken Yasaka | Thank-You - {{order_id}}" />
<meta property="og:description"
  content="Thank You - {{order_id}} | Selamat datang di Chicken Yasaka, tempat di mana kelezatan ayam goreng bertemu dengan rasa yang luar biasa! Kami menyajikan ayam goreng renyah di luar, juicy di dalam, dengan bumbu spesial yang menggoda selera. Di Chicken Yasaka, kami hanya menggunakan bahan berkualitas dan selalu siap memberikan pengalaman makan terbaik, baik dine-in, take-away, atau delivery. Nikmati kelezatan ayam terbaik, hanya di Chicken Yasaka!" />
<meta property="og:image" content="{{url_for('static', filename='assets/images/YASAKA.jpg')}}" />
<meta name="robots" content="noindex,nofollow">
<meta property="og:url" content="{{ request.url }}" />
{% endblock %}
{% block title %}Thank-you - {{order_id}}{% endblock %}
{% block content %}
<div class="thanks-area">
  <div class="container">
    <div class="section-inner">
      <div class="section-icon">
        <i class="fal fa-check"></i>
      </div>
      <div class="section-title">
        <h2 class="sub-title">Terima kasih atas pesanan Anda</h2>
        <h3 class="sect-title">
          {{message}}<br />
          semoga harimu menyenangkan<br />
        </h3>
      </div>
      <div class="section-button">
        <a class="btn-1" href="/"><i class="fal fa-long-arrow-left"></i> Ke Beranda</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}