{% extends "layouts/template.html" %} {% block title %}Thank-you{% endblock %}
{% block content %}
<div class="thanks-area">
  <div class="container">
    <div class="section-inner">
      <div class="section-icon">
        <i class="fal fa-check"></i>
      </div>
      <div class="section-title">
        <h2 class="sub-title">Thanks For your Order</h2>
        <h3 class="sect-title">
          Your order will be made as soon as possible and<br />
          will be immediately delivered to your place.<br />or<br />take your
          order yourself to the nearest outlet
        </h3>
      </div>
      <div class="section-button">
        <a class="btn-1" href="/"
          ><i class="fal fa-long-arrow-left"></i> Ke Beranda</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
