{% extends "layouts/template.html" %}
{% block title %}Wishlist{% endblock %}
{% block breadcrumb %}
<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Wishlist</h1>
            <ul>
                <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Wishlist</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="rts-wishlist-section section-gap">
    <div class="container">
        <!-- Tabel Wishlist (Meskipun kosong, masih ditampilkan) -->
        <table class="table table-bordered table-hover">
            <tbody>
                <tr class="heading">
                    <th></th>
                    <th>Menu Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="first-td"><button class="remove-btn"><i class="fal fa-times"></i></button></td>
                    <td class="first-child"><a href="/menu"><img src="{{ url_for('static', filename=product.image) }}"
                                style="height: 100px; width: 100px;" alt=""></a>
                        <a href="/menu" class="pretitle">{{product.name}}</a>
                    </td>
                    <td><span class="product-price">Rp. {{product.price | format_rupiah}}</span></td>
                    <td class="last-td"><button class="cart-btn"><i class="rt-basket-shopping"></i> Add To Cart</button>
                    </td>
                </tr>
                {% endfor %}
                <!-- Item lainnya -->
            </tbody>
            </tbody>
        </table>
        <div class="wishlist-social">
            <div class="text">
                <a href="#">Share Now</a>
            </div>
            <div class="icon">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}