{% extends "layouts/template.html" %}
{% block title %}Wishlist{% endblock %}
{% block breadcrumb %}
<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">Wishlist</h1>
            <ul>
                <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">Wishlist</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="rts-wishlist-section section-gap">
    <div class="container">
        <!-- Tabel Wishlist (Meskipun kosong, masih ditampilkan) -->
        <table class="table table-bordered table-hover">
            <tbody>
                <tr class="heading">
                    <th></th>
                    <th>Menu Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            <tbody id="wishlist-box">

            </tbody>
            </tbody>
        </table>
        <div class="wishlist-social">
            <div class="text">
                <a href="#">Share Now</a>
            </div>
            <div class="icon">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}