{% extends "layouts/template.html" %}
{% block meta %}
<meta property="og:title" content="Chicken Yasaka | Wishlist" />
<meta property="og:description"
    content="All Wishlist | Selamat datang di Chicken Yasaka, tempat di mana kelezatan ayam goreng bertemu dengan rasa yang luar biasa! Kami menyajikan ayam goreng renyah di luar, juicy di dalam, dengan bumbu spesial yang menggoda selera. Di Chicken Yasaka, kami hanya menggunakan bahan berkualitas dan selalu siap memberikan pengalaman makan terbaik, baik dine-in, take-away, atau delivery. Nikmati kelezatan ayam terbaik, hanya di Chicken Yasaka!" />
<meta property="og:image" content="{{url_for('static', filename='assets/images/YASAKA.jpg')}}" />
<meta name="robots" content="noindex,nofollow">
<meta property="og:url" content="{{ request.url }}" />
{% endblock %}
{% block title %}Wishlist{% endblock %}
{% block breadcrumb %}
<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">List Keinginan</h1>
            <ul>
                <li><a class="home-page-link" href="/">Home <i class="fal fa-angle-right"></i></a></li>
                <li><a class="current-page" href="#">List Keinginan</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="rts-wishlist-section section-gap">
    <div class="container">
        <!-- Tabel Wishlist (Meskipun kosong, masih ditampilkan) -->
        <table class="table table-bordered table-hover">
            <tbody>
                <tr class="heading">
                    <th></th>
                    <th>Nama Menu</th>
                    <th>Harga</th>
                    <th></th>
                </tr>
            <tbody id="wishlist-box">

            </tbody>
            </tbody>
        </table>
        <div class="wishlist-social">
            <div class="text">
                <a href="#">Bagikan Sekarang</a>
            </div>
            <div class="icon">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}